# Export all names
exportPattern(".")

import(raster)
import(sp)
import(maptools)


importFrom(grDevices, "chull")

importFrom(rgeos, "readWKT", "gBuffer", "gUnion")

importFrom(rgdal, "writeOGR")

importFrom(tibble, "is_tibble")

importFrom(writexl, "write_xlsx")

# importFrom(progress, "progress_bar")

importFrom(plyr, "llply")

importFrom(spatstat, "union.owin", "area.owin", "setminus.owin", "as.owin")

importFrom(spatstat.utils, "is.hole.xypolygon")



importFrom(fields, "image.plot", "quilt.plot", "two.colors")

# importFrom(alphahull, "ahull", "anglesArc")

importFrom(geosphere, "areaPolygon", "makePoly", "makeLine")



importFrom("graphics", "axis", "box", "layout", "legend", "mtext",
             "par", "points")
importFrom("methods", "as", "slot")
importFrom("stats", "cor", "dist", "runif")
importFrom("utils", "data", "installed.packages", "write.csv")
importFrom("grDevices", "dev.cur", "dev.off", "grey", "pdf", "png",
             "rgb")